body {
	background: gray;
	padding:0;
}

h1 {
	background: gray;
	color: white;
	text-align: center;
	font-size: 40px;
}
h2 {
	background: gray;
	color: white;
	text-align: center;
}

h3 {
	color: white;
	background: gray;
	text-align: center;
}

leftnav { background: #d3d3d3; }
main { background: white; }
rightnav { background: blue; }
body {
 display: grid;
 min-height: 100vh;
 grid-template-columns: 200px 1fr 150px;
 grid-template-rows: min-content 1fr min-content;
}
h1 {
 grid-row: 1;
 grid-column: 1 / 4;
}
leftnav {
color:white;
 grid-row: 2;
 grid-column: 1 / 2;
 padding: 0 10px;
}
main {
 grid-row: 2;
 grid-column: 2 / 3;
 padding: 0 20px;
 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}
rightnav {
color:white;
 grid-row: 2;
 grid-column: 3 / 4;
 padding: 0 10px;
}

* {
	box-sizing: border-box;
}

.container {
	width: 800px;
	height:400px;
	max-width: 80%;
	background-color: blue;
	border-radius: 5px;
	padding:10px;
	box-shadow: 0 0 10px 2px;
}

.question-container {
	color:white;
	width: 800px;
	max-width: 80%;
	background-color: white;
	border-radius: 5px;
	padding:10px;
	box-shadow: 0 0 10px 2px;
}

.button-container {
    display: grid;
	height:380px;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
.buttons {
    padding: 20px;
    background-color: #4AA2D9;
    color: #FFFFFF;
    border: 2px solid #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}